
.demo-layout-transparent {
  background: url('http://cfile21.uf.tistory.com/image/274C663A5243CF181785F4') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
}
.header-title{
  display: inline-block;
  font-weight: bold;
  font-family: Impact Charcoal sans-serif;
  font-size: 25px;
  width: auto !important;
}
