@import './CodeMirror.css';

.content{
    width: 1150px;
   padding-top: 2px;
   height:  600px;
   /* border: 1px solid red; */
}

.vanila{
    height: 270px;
    /* background-color: pink; */
    /* border: 1px solid blue; */
}
.preview{
    height: 320px;
    background-color: white;
    /* border: 1px solid black; */
}
.htmlArea{
    width: 382px;
    height: 270px;
    /* border: 1px solid pink; */
    display: inline-block;
    float: left;
    border-right: 1.5px solid #DFDFDF;
    background-color: white;
}
.cssArea{
    width: 382px;
    height: 270px;
    /* border: 1px solid red; */
    display: inline-block;
    float: left;
    background-color: white;
    border-right: 1.5px solid #DFDFDF;
}
.jsArea{
    width: 383px;
    height: 270px;
    /* border: 1px solid blue; */
    display: inline-block;
    background-color: white;
}

.htmlTopbar{
    width: 386px;
    height: 40px;
    background-color: #DFDFDF;
    display: table;
    /* border: 1px solid #221010; */
}

.cssTopbar{
    width: 383px;
    height: 40px;
    background-color: #DFDFDF;
    display: table;
}
.jsTopbar{
    width: 385px;
    height: 40px;
    background-color: #DFDFDF;
    display: table;
}
.previewTopbar{
    width: 1150px;
    height: 40px;
    background-color:#DFDFDF;
    display: table;
}

.htmlTitle{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 11px;
    color: #606060;
    font-weight: bold;
}

.cssTitle{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 11px;
    color: #606060;
    font-weight: bold;
}

.jsTitle{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 11px;
    color: #606060;
    font-weight: bold;
}

.previewTitle{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 11px;
    color: #606060;
    font-weight: bold;
}

/* body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
	margin: 0;
	padding: 0;
} */

a {
	color: #08c;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 720px;
	padding: 1em;
}

.footer {
	margin-top: 50px;
	border-top: 1px solid #eee;
	padding: 20px 0;
	font-size: 12px;
	color: #999;
}

h1, h2, h3, h4, h5, h6 {
	color: #222;
	font-weight: 100;
	margin: 0.5em 0;
}

label {
	color: #999;
	display: inline-block;
	font-size: 0.85em;
	font-weight: bold;
	margin: 1em 0;
	text-transform: uppercase;
}

.hint {
	margin: 15px 0;
	font-style: italic;
	color: #999;
}

.ReactCodeMirror {
	border: 1px solid #ccc;
}









