.assetWrapper{

}

.textAsset{

}

.asset {
  position: absolute !important;
  overflow: hidden;
  cursor: move;
  display: inline-block;
  margin:0;
  padding:0;
  border:0;
}

.isSelected{
  border-width: 1px;
  border-style: solid;
  border-color: black;
}
