.content{
    padding: 16px;
}

.content .top{
    display: flex;
    margin-bottom: 10px;
}

.content .thumbnail_form{
    display: table-cell;
    width: 562px;
    margin-right: 20px;
    border: solid 1px #cecece;
}

.content .thumbnail{
    cursor: pointer;
    position: relative;
    background-color: #f0f0f0;
}

.content .thumbnail:after{
    content: '';
    background: url("/svg/ic_picture.svg");
    background-repeat: no-repeat;
    background-position: center;
    font-size: 10pt;
    position: absolute;
    width: 40%;
    height: 40%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content .thumbnail.main{
    height: 312px;
    border: solid #cecece;
    border-width: 0 0 1px 0;
}

.content .thumbnails{
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 50px;
    margin-bottom: -4px;
    display: inline-block;
}

.content .thumbnails .btn{
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    position: absolute;
    background: white;
    cursor: pointer;
    line-height: 50px;
}

.content .thumbnails .btn:first-child:after{
    content: '<';
}

.content .thumbnails .btn:last-child:after{
    content: '>';
}

.content .thumbnails ul{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 100%;
    white-space: nowrap;
    transform: translateX(30px);
}

.content .thumbnails ul li{
    width: 71.71px;
    height: 100%;
    display: inline-block;
}

.content .form{
    display: table-cell;
    width: 350px;
}
.content .form > * {
    margin-bottom: 1px;
}

.underline {
    border: solid #898989;
    border-width: 0 0 1px 0;
}