body { margin:0; }

.slideEditor{
      width: 100%;
      height: 100%;
      display: flex;
      position: absolute;
      flex-direction: row;
}

.assetCreator{
    z-index: 3;
    min-width: 12em;
    height: 100vh;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: gray;
    background-color: white;
    position: relative;
}

.slideManager{
  position: fixed;
  z-index: 2;
  top:0;
  background: black;
  min-width: 12em;
  height: 100vh;
}

.contextWrap{
    z-index: 1;
    background-color: gray;
    display: inline-block;
    height: 100%;
    width: 100%;
    position: relative;
}

.slideContext {
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    display: inline-block;
    height: 80%;
    width: 80%;
    overflow: hidden;
}

.assetCreator ul{
  list-style-type: none;
    padding: 0;
}
