@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
body {
  margin:0;
  padding:0;
  width: 100%;
  height: 100vh;
  font-family: 'NanumSquare', sans-serif;
}

asset {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.slideEditor{
      width: 100vw;
      height: 100%;
      display: flex;
      flex-direction: row;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
	background-color: #ffffff;
}

body::-webkit-scrollbar
{
	width: 1px;
	background-color: #ffffff;
}

body::-webkit-scrollbar-thumb
{
	background-color: #5D87B5;
}

.assetController{
    z-index: 3;
    /*min-width: 14em;
    max-width: 14em;*/
    min-height: 40em;
    height: 100vh;
    background-color: white;
    position: relative;
    box-shadow: 0 1px 7px 4px rgba(0, 0, 0, 0.26);
    min-width: 350px;
    overflow: auto;
}


.assetController::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
	background-color: #ffffff;
}

.assetController::-webkit-scrollbar
{
	width: 1px;
	background-color: #ffffff;
}

.assetController::-webkit-scrollbar-thumb
{
	background-color: #5D87B5;
}


.assetCreator{
    z-index: 3;
    min-width: 12em;
    max-width: 12em;
    height: 100vh;
    min-height: 40em;
    background-color: white;
    position: relative;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.26);
}

.slideManager{
  position: fixed;
  z-index: 2;
  top:0;
  left: -10%;
  background: #F5F5F6;
  min-width: 14em;
  height: 100vh;
  overflow-y: scroll;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.slideManager ul{
  height: 100%;
  list-style: none;
  padding: 0;
}

.slideManager::-webkit-scrollbar {width: 0px; height: 8px;}

.slideManager.show{
    left: -2em;
    transform: translate(100%,0);
    -webkit-transform: translate(100%,0);
    -o-transform: translate(100%,0);
    -moz-transform: translate(100%,0);
}

.contextWrap{
    z-index: 1;
    background-color: #ECEEF2;
    max-height: 100%;
    max-height: 100%;
    min-height: 40em;
    width: 100%;
    max-width: calc(100% - 24em);
    position: relative;
    overflow: scroll;
}

.contextWrap.disabled:after{
  content:'';
  position: fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  -webkit-animation: fadein 0.4s forwards;
}

@-webkit-keyframes fadein{
    from { background-color: rgba(0, 0, 0, 0); }
    to { background-color: rgba(0, 0, 0, 0.7); }
}

.contextWrap::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
	background-color: #ffffff;
}

.contextWrap::-webkit-scrollbar
{
	width: 5px;
	background-color: #ffffff;
}

.contextWrap::-webkit-scrollbar-thumb
{
	background-color: #5D87B5;
}

.contextSpace{
  height: 100%;
  width: 100%;
}

@media screen and (max-width:1480px){
  .contextSpace{
    height: 720px;
    width: 1220px;
  }
}

.slideContext {
    height:620px;
    width: 1080px;
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
    user-drag: none;
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}

.slideContext scanvas{
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.assetCreator ul{
  list-style-type: none;
    padding: 0;
}

.modal{
  position: fixed;
  z-index: 4;
  border-radius: 20px;
  width: 1150px;
  height: 650px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.26);
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: modaldown 0.5s forwards;
}

@-webkit-keyframes modaldown{
    from { top: -100%; }
    to { top: 50%; }
}

.modal content{
  position: absolute;
  overflow-y: auto;
  height: calc( 100% - 25px);
  width: 100%;
}

.modal content::-webkit-scrollbar-track
{
	background-color: #ffffff;
}

.modal content::-webkit-scrollbar
{
	width: 5px;
	background-color: #ffffff;
}

.modal content::-webkit-scrollbar-thumb
{
	background-color: #5D87B5;
}


.modal header{
  position: relative;
  color: #12AAEB;
  padding: 10px 30px 0 30px;
  width: calc( 100% - 60px );
}

.modal header tabholder{
  position: absolute;
  text-align: right;
  display: table;
  table-layout: fixed;
  width: 50%;
  top: 10px;
  right: 10px;
  height: 25px;
}

.modal header tabholder > *{
  display: table-cell;
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 0.8em;
  line-height: 25px;
  padding: 0 10px;
  color: #D1DBE1;
}

.modal header tabholder activetab{
  color: #12AAEB;
}

.modal header tabholder activetab:after{
  content: '';
  position: absolute;
  display: inline-block;
  bottom: -10px;
  left: 20px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-color: #12AAEB;
  width: calc( 100% - 40px );
  height: 0px;
}

.modal header tabholder > *:hover{
  color: #12AAEB;
  cursor: pointer;
}

.modal header tabholder > *:hover:after{
  content: '';
  position: absolute;
  display: inline-block;
  bottom: -10px;
  left: 20px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-color: #12AAEB;
  width: calc( 100% - 40px );
  height: 0px;
}

.modal header tabholder > *:before{
  content: '';
  position: absolute;
  display: inline-block;
  left: 0px;
  border-left-style: dashed;
  border-left-width: 1px;
  border-color: #D1DBE1;
  height: 100%;
}

.modal header tabholder > *:first-child:before{
  display: none;
  border-left-width: 0px;
}

.modal header h1{
  display: inline-block;
  text-align: center;
  height: 27px;
  width: 200px;
  font-size: 0.8em;
  padding: 0;
  margin: 0;
  border-bottom: solid #12AAEB 3px;
}