body { margin:0; }

asset {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.slideEditor{
      width: 100%;
      height: 100%;
      display: flex;
      position: absolute;
      flex-direction: row;
}

.assetController{
    z-index: 3;
    min-width: 12em;
    max-width: 12em;
    height: 100vh;
    background-color: white;
    position: relative;
    box-shadow: 0 1px 7px 4px rgba(0, 0, 0, 0.26);
}

.assetCreator{
    z-index: 3;
    min-width: 12em;
    max-width: 12em;
    height: 100vh;
    background-color: white;
    position: relative;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.26);
}

.slideManager{
  position: fixed;
  z-index: 2;
  top:0;
  left: -10%;
  background: #F5F5F6;
  min-width: 14em;
  height: 100vh;
  overflow-y: scroll;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.slideManager ul{
  height: 100%;
  list-style: none;
  padding: 0;
}

.slideManager::-webkit-scrollbar {width: 0px; height: 8px;}

.slideManagerShow{
    left: -2em;
    transform: translate(100%,0);
    -webkit-transform: translate(100%,0);
    -o-transform: translate(100%,0);
    -moz-transform: translate(100%,0);
}

.contextWrap{
    z-index: 1;
    background-color: #ECEEF2;
    max-height: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    max-width: calc(100% - 24em);
    position: relative;
    overflow: scroll;
}

.contextWrap.disabled:after{
  content:'';
  position: fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  -webkit-animation: fadein 0.4s linear 1 normal forwards;
}

@-webkit-keyframes fadein{
    from { background-color: rgba(0, 0, 0, 0); }
    to { background-color: rgba(0, 0, 0, 0.7); }
}

.contextWrap::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
	background-color: #ffffff;
}

.contextWrap::-webkit-scrollbar
{
	width: 5px;
	background-color: #ffffff;
}

.contextWrap::-webkit-scrollbar-thumb
{
	background-color: #5D87B5;
}

.contextSpace{
  height: 100%;
  width: 100%;
}

@media screen and (max-width:1480px){
  .contextSpace{
    height: 720px;
    width: 1220px;
  }
}

.slideContext {
    height:620px;
    width: 1080px;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.assetCreator ul{
  list-style-type: none;
    padding: 0;
}


.modal{
  border-radius: 20px;
}

.modal header{

}

.modal header h1{

}
