<!doctype html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Special presentation make platform">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Material Design Lite</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/cupertino/jquery-ui.css" />
    <link rel="stylesheet" href="./css/editor-style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script defer src="./js/editor.js"></script>

</head>
<body>
<div class="demo-layout-transparent mdl-layout mdl-js-layout">

  <header>
      <!-- Title -->
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable2">
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input header-title" maxlength="18" value="Test_PPT_01">
       </div>
      <!-- Navigation -->
        <!--
      <nav class="mdl-navigation">
        <a class="mdl-layout__tab is-active" view="asset-creator">삽입</a>
        <a class="mdl-layout__tab" view="designer">디자인</a>
        <a class="mdl-layout__tab" onclick="createSlide()">test</a>
        <a class="mdl-layout__tab" onclick="viewSlidePreview()">Link</a>
      </nav>
            -->
    </div>
      <!--
      <div class="mdl-layout__header-row">

        <div id="text-designer" asset-type="text" class="controller">
          <div id="text-align-controller" class="item radio-button-group">
            <label class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect" for="text-align-left-toggle">
              <input type="checkbox" id="text-align-left-toggle" value="left" class="mdl-icon-toggle__input" checked>
              <i class="mdl-icon-toggle__label material-icons">format_align_left</i>
            </label>
            <label class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect" for="text-align-center-toggle">
              <input type="checkbox" id="text-align-center-toggle" value="center" class="mdl-icon-toggle__input">
              <i class="mdl-icon-toggle__label material-icons">format_align_center</i>
            </label>
            <label class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect" for="text-align-right-toggle">
              <input type="checkbox" id="text-align-right-toggle" value="right" class="mdl-icon-toggle__input">
              <i class="mdl-icon-toggle__label material-icons">format_align_right</i>
            </label>
          </div>
        <div class="item">
          <label class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect" for="font-bold-toggle">
            <input type="checkbox" id="font-bold-toggle" class="mdl-icon-toggle__input" checked>
            <i class="mdl-icon-toggle__label material-icons">format_bold</i>
          </label>
          <label class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect" for="font-italic-toggle">
            <input type="checkbox" id="font-italic-toggle" class="mdl-icon-toggle__input">
            <i class="mdl-icon-toggle__label material-icons">format_italic</i>
          </label>
        </div>
        <div class="item">
          <span id="font-size-controller" class="mdl-chip mdl-chip--contact">
            <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white"><i class="material-icons" >format_size</i></span>
            <span class="mdl-chip__text">15px</span>
          </span>
          <item-chooser class="mdl-menu mdl-js-menu mdl-js-ripple-effect" for="font-size-controller">
          </item-chooser>
        </div>
          <div class="item">
        <span id="font-family-controller" class="mdl-chip mdl-chip--contact">
          <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white"><i class="material-icons" >format_size</i></span>
          <span class="mdl-chip__text">default</span>
        </span>
          <item-chooser id="font-chooser" class="mdl-menu  mdl-js-menu mdl-js-ripple-effect" for="font-family-controller">

          </item-chooser>
        </div>
          <div class="item">
        <span class="mdl-chip mdl-chip--contact color-pick">
          <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white"><i class="material-icons" >format_size</i></span>
          <span class="mdl-chip__text">색깔</span>
        </span>
        </div>
      </div>

        <div id="video-designer" asset-type="video" class="controller">
            <div class="item">
                <div style="padding-right: 40px;">
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="video-preview-switch">
                        <input type="checkbox" id="video-preview-switch" class="mdl-switch__input">
                        <span class="mdl-switch__label">Preview</span>
                    </label>
                </div>
            </div>
            <div class="item">
                <span class="mdl-chip mdl-chip--contact">
                    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white"><i class="material-icons">format_size</i></span>
                    <input id="video-url-input" class="mdl-chip__text" placeholder="Youtube URL"/>
                </span>
            </div>
            <div class="item">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="video-autoplay-checkbox">
                    <input type="checkbox" id="video-autoplay-checkbox" class="mdl-checkbox__input">
                    <span class="mdl-checkbox__label">Autoplay</span>
                </label>
            </div>
            <div class="item">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="video-controller-checkbox">
                    <input type="checkbox" id="video-controller-checkbox" class="mdl-checkbox__input">
                    <span class="mdl-checkbox__label">Controller off</span>
                </label>
            </div>
        </div>

          <div id="image-desidgner" asset-type="image" class="controller">
              <div class="item">
                  <input id="image-input" type="file" name="name" style="display: none;" />
              </div>
              <div class="item">
                  <button id="image-chooser" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                      <i class="material-icons">image</i>
                  </button>
              </div>
          </div>
      <div id="shape-designer" asset-type="shape" class="controller">
        <span class="mdl-chip mdl-chip--contact color-pick">
          <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white"><i class="material-icons" >format_size</i></span>
          <span class="mdl-chip__text">색깔</span>
        </span>
      </div>

        <div class="color-translate">
          <div class="color-picker controller" data-value="#2196F3">
            <div class="red"></div>
            <div class="blue"></div>
            <div class="green"></div>
            <div class="indigo"></div>
            <div class="brown"></div>
            <div class="black"></div>
            <div class="teal"></div>
            <div class="deep-orange"></div>
            <div class="light-blue"></div>
            <div class="light-green"></div>
            <div class="deep-purple"></div>
            <div class="amber"></div>
            <div class="blue-gray"></div>
            <div class="pink"></div>
            <div class="orange"></div>
            <div class="cyan"></div>
            <div class="lime"></div>
            <div class="purple"></div>
            <div class="yellow"></div>
            <div class="gray"></div>
            <div class="white"></div>
            <div class="transparent"></div>
            <input type="color" id="color-input">
            <span class="hex">
              <input type="text" id="color-text">
              <div class="underline"></div>
            </span>
            <div id="color-picker-close">
              <i class="material-icons">close</i>
            </div>
          </div>
        </div>
      </div>-->
  </header>

  <main class="mdl-layout__content">
      <div id="asset-creator">
          <ul>
              <li>
                  <button asset-type="text" class="asset-creator mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                      <i class="material-icons">title</i>
                  </button>
              </li>
              <li>
                  <button asset-type="video" class="asset-creator mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                      <i class="material-icons">local_movies</i>
                  </button>
              </li>
               <li>
                  <button asset-type="image" class="asset-creator mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                      <i class="material-icons">image</i>
                  </button>
              </li>
               <li>
                  <button id="insert-shape-asset" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                      <i class="material-icons">star rate</i>
                  </button>
                  <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect" for="insert-shape-asset">
                      <li asset-type="shape" attr="circle" class="asset-creator mdl-menu__item">Circle</li>
                      <li asset-type="shape" attr="rectangle" class="asset-creator mdl-menu__item">Rectangle</li>
                      <li asset-type="shape" attr="triangle" disabled class="asset-creator mdl-menu__item">Triangle</li>
                  </ul>
              </li>
          </ul>
          <ul class="bottom">
              <li>
                  <button onclick="$('slider').removeClass('hide')" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                      <i class="material-icons">slideshow</i>
                  </button>
              </li>
          </ul>
      </div>

    <slider class="hide">
        <div class="title">슬라이드<div class="hide"></div></div>
      <ul class="slide-list">
        <li idx="0">
          <div class="mdl-card mdl-shadow--2dp">
              <div class="preview"></div>
              <div class="actionbar">
                  <button action="share" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                      <i class="material-icons">share</i>
                  </button>
                  <button action="copy" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                      <i class="material-icons">queue</i>
                  </button>
                  <button action="delete" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                      <i class="material-icons">delete</i>
                  </button>
              </div>
        </div>
        </li>
      </ul>
    </slider>
    <div class="editor">
        <scanvas>

        </scanvas>
    </div>

      <div id="asset-context-menu" class="context-menu">
          <table>
              <tr action="delete"><td></td><td>삭제(Remove)</td><td>ctrl + d</td></tr>
              <tr action="copy"><td></td><td>복사(Copy)</td><td>ctrl + c</td></tr>
              <tr action="cut"><td></td><td>잘라내기(Cut)</td><td>ctrl + x</td></tr>
              <tr action="paste"><td></td><td>붙여넣기(Paste)</td><td>ctrl + v</td></tr>
          </table>
      </div>

      <div id="editor-context-menu" class="context-menu">
          <table>
              <tr action="text"><td></td><td>Text</td><td>ctrl + d</td></tr>
              <tr action="video"><td></td><td>Video</td><td>ctrl + c</td></tr>
              <tr action="image"><td></td><td>Image</td><td>ctrl + x</td></tr>
              <tr action="shape"><td></td><td>Paste</td><td>ctrl + v</td></tr>
          </table>
      </div>
  </main>
</div>
</body>
</html>
