items {
    display: none;
    float: left;
    padding: 0;
    margin: 0 0 2vh 1vw;
}

.controller_sub_wrapper {
    margin: 20px;
}

.controller_sub_title{
  font-size : 12px;
  color : #5D87B5;
  font-weight : bold;
  vertical-align: middle;
  display: table;
}

.controller_sub_title:before {
  content: "";
  display: table-cell;
  vertical-align: middle;
  background: url("/images/ic_ellipse_gray.png") no-repeat left center;
  width: 23px;
}

.ic_ellipse_gray {
    width: 7px;
}

.control_item {
    display: inline-block;
    border: 1px solid #5a84b3;
    border-radius: 20px;
    padding: 3px 5px 3px 5px;
    margin: 5px;
    width: 40%;
}

.attribute_item_title {
    border: 0;
    margin: 0;
    width: 15%;
    color: #5a84b3;
}

.attribute_item_input {
    width: 60%;
    text-align: right;
    border: 0;
    display: inline;
    clear: both;
    margin: 1.5%;
    outline-width: 0;
}

.show_items_button {
    width: 10px;
    float: right;
    clear: both;
    margin: 5px;
}

button {
    border: 0;
    outline: 0;
}

hr {
    border-top: 3px dotted #5a84b3;
    background-color: #fff;
    opacity: 0.3;
}

textarea {
    width: 90%;
    height: 15vh;
    border-color: #5a84b3;
    border-radius: 20px;
    margin-left: 5px;
}

select {
    width: 100%;
    border: 0;
    border-radius: 20px;
}

#attribute_off {
    display: none;
}

#text_off {
    display: none;
}

#shape_off {
    display: none;
}

#style_off {
    display: none;
}
