p {
    font-family: 'NanumSquareEB';
}

.items {
    height: 100%;
    width: 310px;
    padding: 0;
    margin: auto;
}

.controller_sub_wrapper {
    margin: 20px;
    margin-bottom: 10px;
}

.controller_sub_title {
    position: relative;
    width: 100%;
    font-size: 13px;
    color: #5682b2;
    font-family: NanumSquareEB;
    font-weight: bold;
    vertical-align: middle;
    display: table;
    margin-bottom: 30px;
}

.controller_sub_title:before {
    content: "";
    display: table-cell;
    vertical-align: middle;
    background: url("/images/ic_ellipse_gray.png") no-repeat left center;
    width: 20px;
}

.control_item {
    display: inline-table;
    border: 1.8px solid #5682b2;
    border-radius: 20px;
    padding: 3px 5px 3px 5px;
    margin: 3px;
    width: 125px;
    height: 20px;
}

.video span{
    margin: 0;
    font-size:18px;
}

.URL_controller {
    width: 278px;
    height: 20px;
    margin:0;
    display: table;
    padding: 5px 0 5px 2px;
    margin: 3px;
}

.URL_controller .attribute_item_title {
    width: 34px;
}

.video_preview_toggle{
  width: 270px;
  color: #5a84b3;
  padding-top: 5px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.video_preview_toggle.active{
  background: #73a5dd;
  color: white;
}
.video_preview_toggle.active:hover{
  background: #ffffff;
  color: #5a84b3;
}

.video_preview_toggle:hover{
  background: #73a5dd;
  color: white;
}

.image_loader{
  width: 270px;
  margin: auto;
  color: #5a84b3;
  padding-top: 5px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.image_loader:hover{
  background: #73a5dd;
  color: white;
}

.video {
    text-align: center;
    width: 73px;
    cursor: pointer;
}

.attribute_item_title {
  border: 0;
  margin: 0 0 0 5px;
  width: 24px;
  max-width: 37px;
  font-size: 13px;
  color: #5a84b3;
  height: 100%;
  display: flex;
  float: left;
  align-items: center;
  font-family: NanumSquareEB;
}



.attribute_item_input {
    width: 10px;
    min-width: calc( 100% - 55px );
    height: 100%;
    text-align: right;
    border: 0;
    display: inline;
    outline-width: 0;
    float: right;
    margin-right: 5px;
}


.attribute_both_input_area {
    float: right;
    width: 70%;
    height: 100%;
}

.show_items_button {
    position: absolute;
    cursor: pointer;
    width: 10px;
    margin: 3px;
    right: 0;
}

button {
    border: 0;
    outline: 0;
}

.controller_hr {
    border-top: 3px dotted #5a84b3;
    background-color: #fff;
    opacity: 0.3;
    width: 100%;
    margin-top: 20px;
}

#input_style {
    width: 300px;
    border: 0;
    border-radius: 20px;
    margin: auto;
    padding: 5px;
}

#input_style textarea {
    width: 98%;
    height: 180px;
    border: 0;
}

textarea:focus {
    outline: 0;
}

select {
    width: 100%;
    border: 0;
    border-radius: 20px;
}

.control_text_attribute {
    width: 300px;
    margin: auto;
}

.control_text_attribute img {
    cursor: pointer;
    margin-top: 30px;
    margin-right: 20px;
    width: 17px;
    height: 18px;
}

.change_color {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    float: right;
    display: inline-block;
}

.color_picker_modal {
    position: absolute;
    left: 40%;
    top: 40%;
}

.shape_kind_img{
    margin-top: 5px;
    margin-left: 5px;
}

.shapes{
    width: 218px;
}