.cover{
    width: 400px;
    height: 45px;
    display: table;
    background-color: #1998E5;
    border: 2px solid #1998E5;
    float: left;
}

.title_label{
    color: white;
    display: table-cell;
    vertical-align: middle;
    font-size: 17px;
    width: 100px;
    margin-left: 1em;
    text-align: center;
}

.title{
    border : none;
    height: 45px;
    padding-top: 0;
    display: inline-block;
    vertical-align: middle;
    outline: none;
    width: 300px;
    padding: 0 11px;
    font-size: 17px;
    /* margin-left: 4px; */
    /* text-align: center; */
}
