.left_img{
    display: inline-block;
    width: 575px;
    height: 100%;
}

.right_contents{
    float: right;
    display: inline-block;
    width: 575px;
    height: 100%;
}

.login{
    margin: 80px 80px 40px 80px;
}

.another_login{
    margin: 0 80px 0 80px;
}

.login_title{
    margin:0;
}

.login_input{
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
}

.login_wrapper{
    margin-bottom: 30px;
}

.login_button{
    background-color: skyblue;
    color: black;
    width: 200px;
    height: 40px;
    display: table-cell;
    margin-right:35px;
}

.signup_button{
    display: table-cell;
    font-size: 20px;
    vertical-align: middle;
    cursor: pointer;
}

.login_button_wrapper{
    display: table;
}
button{
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}