
main, body{
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header{
  background-color: rgba(255, 255, 255, 1) !important;
  color: black !important;
}

header > div{
  border-bottom: 1px solid black !important;
}

header .mdl-layout__tab{
  padding: 0 10px;
}

.mdl-layout__tab{
  color: black !important;
  text-decoration: none;
  cursor: pointer;
}

.mdl-textfield--expandable2{
    min-width: 0;
    display: table;
}

.controller{
  display:none;
}

.is-selected{
  display:block;
}

.controller .item{
  display: inline-block;
}

/*chip-styles*/
.mdl-chip__contact i{
  vertical-align: middle;
}

.mdl-chip {
  font-size: 50%;
  cursor: pointer;
}

.mdl-chip input{
    background: rgba(0, 0, 0, 0);
    border: none;
}

.mdl-chip input:focus {
   outline: none;
}


/* ----- slider ------ */
slider {
    position: fixed !important;
    display: inline-block;
    z-index: 99;
    background-color: rgba(123, 231, 221, 0.3);
    height: 50%;
    width: 10%;
    bottom: 0;
    border: solid black 1px;
    overflow-y: scroll;
    overflow-x: hidden;
}

slider .title {
    background-color: rgba(123, 231, 221, 0.3);
    padding-left: 5px;
    color: white;
}

editor{
    position:absolute !important;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

ul.slide-list{
  padding: 5px;
  margin: 0;
}

ul.slide-list li{
  cursor: pointer;
  list-style-type: none;
  background-color: green;
  margin-bottom: 5px;
}

ul.slide-list li .mdl-card{
  min-height: 50px !important;
  width: 100%;
  padding: 5px;
}

ul.slide-list li div{
  box-shadow: 0 0 0 100px inset, 0 0 5px grey;
  color: rgba(65, 102, 114, .3);

  transition: box-shadow 0.5s;
}

ul.slide-list li div::after {
  transition: opacity 1s .5s;
}

ul.slide-list li div.is-selected {
  -webkit-transition: box-shadow 0.3s, color 0.3s 0.3s;
  -moz-transition: box-shadow 0.3s, color 0.3s 0.3s;
  -ms-transition: box-shadow 0.3s, color 0.3s 0.3s; /* IE10 is actually unprefixed */
  -o-transition: box-shadow 0.3s, color 0.3s 0.3s;
  transition: box-shadow 0.3s, color 0.3s 0.3s;
  box-shadow: 0 0 0 0 inset,
  0 0 0 grey,
  0 0 0 grey inset;
  color: rgba(0, 0, 0, 1);
}

.header-title{
  display: inline-block;
  font-weight: bold;
  font-family: Impact Charcoal sans-serif;
  font-size: 25px;
  width: auto !important;
}

.mdl-layout__tab-bar-button, .mdl-layout__tab-bar, .mdl-layout__tab {
  background-color: rgba( 255, 255, 255, 0.0 );
}

.card_title_bar{
  position: relative;
  padding: 5px;
  background-color: rgba(30, 30, 30, 0.1);
}
.card_title_bar .move_control{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 17px;
  height: 17px;
  cursor: move;
  background: url('https://cdn1.iconfinder.com/data/icons/business-cursor/512/move_2-512.png') center / contain;
}

.dragable-component{
  position:absolute !important;
}

.asset-controller{
  display: none;
}

.mdl-menu{
  max-height: 300px;
  overflow: scroll;
}

asset{
  position:absolute !important;
  cursor: move;
  display:inline-block;
  width: auto;
  height: auto;
}

asset[type="text"]{
  white-space: pre;
  overflow: hidden;
}

asset[type="video"]{
  background-color: black;
}

asset[type="shape"]{
  background-color: #000000;
}

asset[type="shape"][shape="circle"]{
	-moz-border-radius: 50000px;
	-webkit-border-radius: 50000px;
	border-radius: 50000px;
}

.selected{
  border: Dotted 2px;
  border-color: #000000;
}

input .selected{
  border: Dotted 0px;
}

.mdl-textfield__input{
  width: auto !important;
}


/* ----------- color picker ----------*/
.color-picker {
  height:128px;
  width:224px;
  box-shadow:0 2px 5px rgba(0,0,0,0.25);
  background-color:#eee;
  display:none;
  flex-direction:row;
  flex-wrap:wrap;
  transform-origin: bottom left;
  transition: transform 0.2s ease;
  will-change: transform;
}

.hex {
  width:96px;
  height:32px;
  padding:8px;
  box-sizing:border-box;
}

.hex input {
  width:100%;
  outline:none;
  box-sizing:border-box;
  padding:0;
  border:none;
  font-family:'RobotoDraft';
  background-color:transparent;
}

.hex .underline {
  width:100%;
  box-sizing:border-box;
  height:2px;
  background-color:#ccc;
  position:relative;
}

.underline:before {
  content: "";
  position:absolute;
  top:0;
  left:0;
  right:0;
  height:2px;
  background-color:#03A9F4;
  transition: transform 0.2s ease;
}

input[type=color] {
  width:64px;
  height:32px;
  box-sizing:border-box;
  background-color:transparent;
  border:none;
  cursor:pointer;
  outline:none;
  transition:box-shadow 0.5s ease;
}

input[type=color]:active, input[type=color]:focus {
  box-shadow:0 5px 30px rgba(0,0,0,0.25),
    0px -5px 10px rgba(0,0,0,0.25);
}

.color-picker > div {
  width:32px;
  height:32px;
  cursor:pointer;
}

.transparent {
  border:1px solid #333;
  box-sizing:border-box;
  background-image:linear-gradient(-45deg, transparent, transparent 48%, red 49%, red 51%, transparent 52%, transparent);
}

.red {
  background-color:#F44336;
}

.pink {
  background-color:#E91E63;
}

.purple {
  background-color:#9C27B0;
}

.deep-purple {
  background-color:#673AB7;
}

.indigo {
  background-color:#3F51B5;
}

.blue {
  background-color:#2196F3;
}

.light-blue {
  background-color:#03A9F4;
}

.cyan {
  background-color:#00BCD4;
}

.teal {
  background-color:#009688;
}

.green {
  background-color:#4CAF50;
}

.light-green {
  background-color:#8BC34A;
}

.lime {
  background-color:#CDDC39;
}

.yellow {
  background-color:#FFEB3B;
}

.amber {
  background-color:#FFC107;
}

.orange {
  background-color:#FF9800;
}

.deep-orange {
  background-color:#FF5722;
}

.brown {
  background-color:#795548;
}

.gray {
  background-color:#9E9E9E;
}

.blue-gray {
  background-color:#607D8B;
}

.black {
  background-color:#000000;
}

.white {
  background-color:#fff;
}

#close {
  background-color:#eee;
  display:flex;
  align-items:center;
  justify-content:center;
  user-select:none;
  color:#333;
}

.color-translate {
  position:absolute;
  z-index:99;
  left:155px;
  top:36px;
}


/* -------- color context menu ----------- */
.context-menu {
    z-index: 99;
    position: fixed;
    background: white;
    border:solid;
    border-width: 1px;
    border-color: gray;
}

    .context-menu table {
        margin: 3px;
        border-collapse: collapse;
    }

.context-menu table tr{
    margin-top: 5px;
    cursor: pointer;
}

.context-menu table tr td {
    padding-left: 3px;
    padding-right: 3px;
}

.context-menu table tr:hover{
    background: blue;
    color: white;
}
.context-menu table tr.disabled:hover {
    background:#eee;
    cursor: not-allowed;
    color: black;
}
