.mdl-layout__header-row{
  background-color: rgb(255, 255, 255);
  color: black;
}

.mdl-layout__header-row .mdl-navigation__link{
  color: black !important;
}


/* -------- section1 --------- */
.moving-grad {
  display: flex;
  width: 100vw;
  height: 91vh;
  background: linear-gradient(270deg, #00daef, #bc67ff);
	background-size: 200% 200%;
	animation: MoveGrad 5s ease infinite;
  align-items: center;
  justify-content: center;

}

.moving-grad .txt{
    font-size: 50px;
    font-family: Arial;
    font-weight: 700;
    color: #fff;
  }

@keyframes MoveGrad {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
