@import url(https://fonts.googleapis.com/css?family=Fredoka+One);

.mdl-layout__header-row{
  background-color: rgb(255, 255, 255);
  color: black;
}

.mdl-layout__header-row .mdl-navigation__link{
  color: black !important;
}


/* -------- section1 --------- */
.moving-grad {
  display: flex;
  width: 100vw;
  height: 91vh;
  background: linear-gradient(270deg, #00daef, #bc67ff);
	background-size: 200% 200%;
	animation: MoveGrad 5s ease infinite;
  align-items: center;
  justify-content: center;

}

.moving-grad .txt{
    font-size: 50px;
    font-family: Arial;
    font-weight: 700;
    color: #fff;
  }

@keyframes MoveGrad {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


/* -------- section2 --------- */
section .product-intro{
  text-align: center;
  margin: 10vh 0;
}

.feature-row div{
    display: inline-block;
    text-align: center;
}

.feature-row div svg{
    display: block;
}

/**
  * ===================================================================
  *
  *  footer
  * -------------------------------------------------------------------
  */
footer {
    padding: 6vh 3vw 6vh 3vw;
    margin-top: 1vh;
    background: #36D1DC; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

 footer .company{
	 margin: 15px 0;
 	 font-family: 'Fredoka One', sans-serif;
	 font-size: 30px;
 }

 footer p{
	 line-height: 15px;
 }

 footer .content{
   width: 40vw;
   display: inline-block;
 }

@media only screen and (max-width:468px) {

footer .content{
  width: 80vw;
}
}
