asset {
    cursor: default;
}

.slide-page {
    transition: transform 1s;
}

    .slide-page.next {
        transition: transform 0s;
        transform: translate(100vw, 0);
    }

    .slide-page.current {
        transform: translate(0, 0);
    }

    .slide-page.prev {
        transform: translate(-100vw, 0);
    }

