.AssetEditor_left{
    width: 60%;
    height: 70vh ;
    margin-left: 2em;
    float: left;
}
.AssetEditor_preview{
 width: 100%;
 height: 100%;
    z-index: 1;
    position: absolute;
    background-color: white;
}
.previewFile{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    z-index: 100;
    padding: none;

}

.AssetEditor_preview img{
    width: 100%;
    height: 90%;
    /* position: absolute; */
}


.previewDiv{
    width: 48%;
    height: 160px;
    border: 1.7px solid #1998E5;
    float: left;
    margin: 0 0.5em 0em 0;
    display: table;
    color: #E2E2E2;
    background-color: white;
    position: relative;
}
/* .preview_text{
    color: #DFDFDF;
    margin-right: auto;
    margin-left: auto;
    display: table-cell;
    vertical-align: middle;
    font-size: 0.5em;
    text-align: center;
} */


.AssetEditor_topbar{
    width: 100%;
    height: 30px;
    display: table;
    background-color: #1998E5;
}
.topbar_title{
    font-size: 10px;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    padding-left: 1em;
    color: white;
}

.AssetEditor_setting{
width: 50%;
height: 160px;
display: inline-block;

}

.AssetEditor_description{
width: 97.8%;
height: 380px;
border: 1px solid #1898E5;
margin: 0.5em 1em 0 0;
display: inline-block;
}

.AssetEditor_content{
    width: 99%;
    height: 40vh;
}

.description_content{
    width: 97.8%;
    height: 310px;
    box-sizing:border-box;
    overflow: hidden;
    resize: none;
    border: none;
    outline: none;
    font-family: inherit;
    margin: 1em;
}


.AssetEditor_right{
 width: 33%;
 /* height: 73vh; */
 overflow-x: hidden;
 overflow-y: auto;
 display: inline-block;
 margin-left: 1em;
} 

.select_license{
    width: 100%;
    height: 5vh;
    border: 1px solid #1998E5;
    margin-bottom: 0.7em;
    background-color: #1998E5;
    text-align: center;
    display: table;
}

.select_license_text{
    color: white;
    font-size: 0.7em;
    vertical-align: middle;
    display: table-cell;
}
.dropdownButt{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #1997e5 transparent transparent transparent;
    float: right;
    vertical-align: middle;
    display: table-cell;
    margin: 1em;
}

.license_content{
    width: 99%;
    height: 4.5vh;
    border: 1.7px solid #1998E5;
    margin-bottom: 0.7em;
    display: table;
    background-color: white;
    cursor: pointer;
}

.license_text{
    color: #1998E5;
    font-size: 0.7em;
    display: table-cell;
    vertical-align: middle;
    padding-left: 1em;
    
}

.dropdownContent{
    width: 99%;
    height: 5em;
    border: 1px solid red;
}

.CCL_top{
    width: 100%;
    height: 2.3em;
    background-color: #1998E5;
}
.CCL_content{

}
.AssetEditor_isAsset{
width: 367px;
height: 10em;
border: 1px solid #1998E5;
display: block;
margin-bottom: 0.3em;
/* position: absolute; */
}
.AssetEditor_Process{
width: 367px;
height: 9.5em;
border: 1px solid#1998E5;
display: block;
margin-bottom: 0.3em;
/* margin-bottom: 0.5em; */
/* position: absolute; */
}


.AssetEditor_agreement{

}

.AssetEditor_agreeButton{

}

.isAsset_Header{
    background-color: #1998E5;
    width: 100%;
    height: 2.3em;
    display: table;

}
.isAsset_titleText{
    color: white;
    font-size: 10px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 1em;
}

.AssetEditor_agreeButton{
    width: 33%;
    height: 4.6em;
    color: white;
    background-color:#1998E5; 
    cursor: pointer;
    position: absolute;
    font-size: 11px;
    }

.setting_first{
    width: 96%;
    height : 40px;
    font-family: inherit;
}
.title{
    border : none;
    height: 35px;
    padding-top: 0;
    display: inline-block;
    vertical-align: middle;
    width: 280px;
    outline: none;
    /* margin-left: 4px; */
    /* text-align: center; */
}
.title2{
    border : none;
    height: 34px;
    padding-top: 0;
    display: table-cell;
    vertical-align: middle;
    /* margin-top: 0.1em; */
    width: 80px;
    outline: none;
}
.cover{
    /* margin-top: 0em; */
    width: 100%;
    height: 30px;
    background-color: #1998E5;
    margin-left: auto;
    margin-right: auto;
    display: table;
    border: 1px solid #1998E5;
}
.cover2{
    width: 35%;
    height: 36px;
    background-color: #1998E5;
    display: table;
    border: 1px solid #1998E5;
}

.frontTitle{
    color: white;
    display: table-cell;
    vertical-align: middle;
    font-size: 0.5em;
    /* padding : 0 7px 0 9px; */
    width: 40px;
    margin-left: 1em;
    text-align: center;
}
.frontTitle2{
    color: white;
    display: table-cell;
    vertical-align: middle;
    font-size: 4px;
    padding : 0 7px 0 7px;
    width: 20px;
    text-align: center;
}
.setting_second{
    width: 99%;
    margin-top: 5px;
    height: 2em;
}
/* .openStore{
    width: 30%;
    height: 3em;
    border: 1px solid #1998E5;
    display: table-cell;
    vertical-align: middle;
    color: #1998E5;
    font-size: 3px;
    text-align: center;
    cursor: pointer;
    
} */

.openStoreDiv{
    width: 30%;
    height: 40px;
    float: left;
    margin-right: 4px;
}

.openStoreButton{
    width: 100%;
    height: 38px;
    background-color: white;
    border: 1.5px solid #1998E5;
    color: #1998E5;
    cursor: pointer;
}


.changeCharge{
    width: 30%;
    height: 3em;
    border: 1px solid #1998E5;
    display: table-cell;
    vertical-align: middle;
    color: #1998E5;
    font-size: 3px;
    text-align: center;
    cursor: pointer;
   
}
.text{
    padding: 1em;
}

.setting_third{
    width: 99%;
    margin-top: 10px;
    height: 4em;
}

.imagePreview{
    width: 38%;
    height: 73px;
    border: 1.7px solid #1998E5;
    float: left;
    margin-right: 5px;
    display: table;
}
.previewText{
    color: #E2E2E2;
    font-size: 10px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.filebutton{
    width: 5%;
    height: 76px;
    position: absolute;
    background-color: #1998E5
}
.filefile{
    width: 100%;
    height: 75px;
    background-color: #1998E5;
    cursor: pointer;
    opacity: 0;
    position: relative;
}