.assetController{
    z-index: 3;
    /*min-width: 14em;
    max-width: 14em;*/
    min-height: 40em;
    height: 100vh;
    background-color: white;
    position: relative;
    box-shadow: 0 1px 7px 4px rgba(0, 0, 0, 0.26);
    min-width: 300px;
    overflow: hidden  ;
}


.assetController::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    background-color: #ffffff;
}

.assetController::-webkit-scrollbar
{
    width: 1px;
    background-color: #ffffff;
}

.assetController::-webkit-scrollbar-thumb
{
    background-color: #5D87B5;
}

.title{
  width: 100%;
  font-size : 17px;
  color : #5D87B5;
  font-weight : bold;
  vertical-align: middle;
  display: table;
  padding: 20px;
  padding-bottom: 12px;
  border-bottom: 2px solid;
  margin-bottom: 25px;
}

.title:before {
  content: "";
  display: table-cell;
  vertical-align: middle;
  width: 15px;
  height: 1px;
  background: url("/images/ic_ellipse_gray.png");
  background-size:     contain;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}

.title > div{
  margin-left: 10px;
}

.items {
    height: 100%;
    width: 90%;
    padding: 0;
    margin: auto;
}

.controller_sub_wrapper {
    margin: 20px;
    margin-bottom: 10px;
}

.controller_sub_title {
    position: relative;
    width: 100%;
    font-size: 13px;
    color: #5682b2;
    font-family: NanumSquareEB;
    font-weight: bold;
    vertical-align: middle;
    display: table;
}

.controller_sub_title:before {
    content: "";
    display: table-cell;
    vertical-align: middle;
    background: url("/images/ic_ellipse_gray.png") no-repeat left center;
    width: 20px;
}

.control_item {
    display: inline-table;
    border: 1.8px solid #5682b2;
    border-radius: 20px;
    padding: 3px 5px 3px 5px;
    margin: 3px;
    width: 110px;
    height: 20px;
}

.video span{
    margin: 0;
    font-size:18px;
}

.URL_controller {
  width: 90%;
    height: 20px;
    margin:0;
    display: table;
    padding: 5px 0 5px 2px;
    margin: 3px;
}

.URL_controller .attribute_item_title {
    width: 34px;
}

.video_preview_toggle{
  width: 90%;
  color: #5a84b3;
  padding-top: 5px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.video_preview_toggle.active{
  background: #73a5dd;
  color: white;
}
.video_preview_toggle.active:hover{
  background: #ffffff;
  color: #5a84b3;
}

.video_preview_toggle:hover{
  background: #73a5dd;
  color: white;
}

.image_loader{
  width: 90%;
  margin: auto;
  color: #5a84b3;
  padding-top: 5px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.image_loader:hover{
  background: #73a5dd;
  color: white;
}

.video {
    text-align: center;
    width: 73px;
    cursor: pointer;
}

.attribute_item_title {
  border: 0;
  margin: 0 0 0 5px;
  width: 24px;
  max-width: 37px;
  font-size: 13px;
  color: #5a84b3;
  height: 100%;
  display: flex;
  float: left;
  align-items: center;
  font-family: NanumSquareEB;
}

. item_title img{
  cursor: pointer;
}

.attribute_item_input {
    width: 10px;
    min-width: calc( 100% - 55px );
    height: 100%;
    text-align: right;
    border: 0;
    display: inline;
    outline-width: 0;
    float: right;
    margin-right: 5px;
}


.attribute_both_input_area {
    float: right;
    width: 70%;
    height: 100%;
}

.show_items_button {
    position: absolute;
    cursor: pointer;
    width: 10px;
    margin: 3px;
    right: 0;
}

button {
    border: 0;
    outline: 0;
}

#input_style {
    width: 300px;
    border: 0;
    border-radius: 20px;
    margin: auto;
    padding: 5px;
}

#input_style textarea {
    width: 98%;
    height: 180px;
    border: 0;
}

textarea:focus {
    outline: 0;
}

select {
    width: 100%;
    border: 0;
    border-radius: 20px;
}

.control_text_attribute {
    width: 90%;
    margin: auto;
}

.control_text_attribute img {
    cursor: pointer;
    margin-top: 15px;
    margin-right: 13px;
    width: 17px;
    height: 18px;
}

.change_color {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: solid #5682b2 1.2px;
    float: right;
    display: inline-block;
}

.color_picker_modal {
    position: absolute;
    left: 40%;
    top: 40%;
}

.shape_kind_img{
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.shapes{
    width: 218px;
}
