.clickableButton{
  display: table;
  width: 100%;
  font-size: 0.7em;
  font-weight: bold;
  color : #5D87B5;
  cursor: pointer;
  border-radius: 4px;
  moz-border-radius: 4px;
  webkit-border-radius: 4px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clickableButton div{
  padding: 7px 8px;
}

.clickableButton:hover{
  background: url('/images/bg_active.png');
  color: white;
}

.clickableButton:hover:after{
    content: "";
    display: table-cell;
    vertical-align: middle;
    background: url("/images/ic_ellipse_white.png") no-repeat left center;
    width: 23px;
}
