.thumbnail{
  width: 100px;
  height: 100px;
  background: gray;
  cursor: pointer;
}

.thumbnail img{
  width: 100%;
  height: 100%;
}

.content{

}

.codeEditor{
  width: 30% !important;
  background: red;
  height: 100px !important;
  display: inline-block;
}
