.asset{
  display: inline-block;
  position: relative;
  width: 31%;
  height: 12em;
  border-radius: 5px;
  margin-left: 3.4%;
  margin-bottom: 2em;
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  box-shadow: 0 3px 20px 4px rgba(0, 0, 0, 0.26);
}

.actionItem::before{
  content:'';
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.2);
  -webkit-animation: fadein 0.4s forwards;
  transition: all 0.5s;
}

.actionItem:hover::before{
  background-color: rgba(0,0,0,0.4);
}

.actionItem .description{
  position: absolute;
  text-align: center;
  font-weight: gray;
  font-size: 20px;
  color: white;
  width: 100%;
  bottom: 15%;
}

.actionItem img{
  position: absolute;
  width: 5em;
  height: 5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.asset:nth-child(3n+1){
  margin-left: 0;
}

.buttonHeader{
  position: absolute;
  display: table;
  table-layout: fixed;
  border-spacing: 10px;
  top: 3px;
  left: 0px;
}

.imgBtn{
  cursor: pointer;
  text-align: center;
  width: 1.3em;
  height: 1.2em;
  display:table-cell;
}

.imgBtn > img{
  height:100%;
}

.bookmark{
  position: absolute;
  top: 0;
  right: 20px;
  content: '';
  width: 20px;
  height: 24px;
  cursor: pointer;
    background: url('/images/ic_bookmark_red.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bookmark.marked{
  background: url('/images/ic_bookmark_red.png');
}

.thumbnail{
  width:100%;
  height: 100%;
  background: gray;
  position: relative;
}

.thumbnail img{
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
}

.footer{
  position: absolute;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  bottom: 0px;
  width: 100%;
  height: 25%;
  background: rgba(0, 0, 0, 0.6);
  display: table;
}

.footer .texts{
  display: table-cell;
  padding-left: 17px;
  width: 60%;
  vertical-align: middle;
}

.footer .texts .title{
  color: #FFFFFF;
  font-size: 13px;
}

.footer .texts .subTitle{
  color: #9E9E9F;
  font-size: 9px;
}

.footer .stars{
  display: table-cell;
  width:40%;
  vertical-align: middle;
  text-align: right;
  padding-right: 17px;
}
.footer .stars .star{
  width: 20px;
  height: 18px;
  display: inline-block;
  background: url('/images/ic_star_white.png');
  background-repeat: no-repeat;
  background-position: center;
}

.footer .stars .star.active{
  background: url('/images/ic_star_yellow.png');
  background-repeat: no-repeat;
  background-position: center;
}
