.cover{
    font-size: 17px;
}
.text {
    border : none;
    padding-top: 0;
    display: inline-block;
    vertical-align: middle;
    outline: none;
    width: calc( 100% - 24px );
    height: calc( 100% - 24px );
    padding: 11px;
    font-size: 1em;
    background-color: #ffffff;
    border: solid 1px #898989;
}
