.cover{
    background-color: #1998E5;
    border: 2px solid #1998E5;
    float: left;
}

.label{
    color: white;
    vertical-align: middle;
    font-size: 17px;
    margin-left: 1em;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
}

.text{
    border : none;
    height: 45px;
    padding-top: 0;
    vertical-align: middle;
    outline: none;
    width: calc( 100% - 22px );
    height: calc( 100% - 32px);
    padding: 0 11px;
    font-size: 17px;
    /* margin-left: 4px; */
    /* text-align: center; */
}
