.cover {
    background-color: #1998E5;
    border: 4px solid #1998E5;
    border-bottom-width: 2px;
    float: left;
    border-radius: 1px;
}

.label {
    color: white;
    vertical-align: middle;
    font-size: 17px;
    margin-left: 1em;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
}

.text {
    border: none;
    padding-top: 0;
    vertical-align: top;
    outline: none;
    width: calc(100% - 22px);
    height: calc(100% - 54px);
    padding: 11px 11px;
    font-size: 17px;
    border-radius: 5px;
}
